body {
    text-align: center;
    margin: 0;
    font-family: sans-serif
}

.navbar-nav--modify {
    margin-left: 50%;
}

#logo {
    width: 70px;
    margin-left: 40px
}

.navbar--modify {
    border-top: solid 12px #006000;
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: right;
}

.header--modify {
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    padding-top: 140px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

.header__box--modify {
    margin: 0% 25% 0% 25%;
    background-color: black;
    opacity: 0.8;
    padding: 60px 10px 60px 10px;
    border-radius: 40px
}

#star {
    font-size: 50px
}

#button1 {
    font-size: 22px;
    border-radius: 80px;
    padding: 5px 1em 5px 1em;
}

.middle--modify {
    background-image: url(../images/stars2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    padding: 40px 0 40px 0;
    margin-bottom: 10px;
}

.middle__box--modify {
    margin: 0% 5% 0% 50%;
    background-color: black;
    opacity: 0.8;
    padding: 60px 10px 60px 10px;
    border-radius: 40px
}

.thumbs {
    font-size: 30px;
    padding: 5px;
}

.bottom--modify {
    background-image: url(../images/beans.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    padding: 40px 0 40px 0;
    margin-bottom: 30px;
}

.bottom__box--modify {
    margin: 0% 5% 0% 50%;
    background-color: black;
    opacity: 0.8;
    padding: 60px 10px 60px 10px;
    border-radius: 40px;
}

.logo {
    width: 70px;
}

.footer--modify {
    padding-bottom: 40px;
    border-bottom: solid 12px gray
}

@media (max-width: 1000px) {
    h1 {
        font-size: 32px;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 22px;
    }
    #button1 {
        font-size: 16px
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 16px
    }
    p {
        font-size: 12px
    }
    #button1 {
        font-size: 14px
    }
}